.nav{
    .css-1t29gy6-MuiToolbar-root {
        color:#FFB884!important; 
         background-color: #2E4347 !important; 
     }

     .css-1uwgr7b-MuiTypography-root .css-mjbh0l-MuiTypography-root-MuiLink-root {
        margin-left: 40%
    }
    .css-ahj2mt-MuiTypography-root .css-mjbh0l-MuiTypography-root-MuiLink-root {
        margin-left: 40%
    }
    .css-ahj2mt-MuiTypography-root .css-mjbh0l-MuiTypography-root-MuiLink-root {
         margin-left: 40%
    }
    .css-1uwgr7b-MuiTypography-root .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
        color:#C0D1C2
    }
    .css-1oc1ahk-MuiTypography-root .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
        color:#C0D1C2 
    }
}
